$dark: #2C3E50;  
$red: #E74C3C;  
$white: #ECF0F1;  
$mid: #3498DB;  
$light: #2980B9;
$radius: 15px;


html {
	background-color: $dark;
}

body {
	width: 640px;
	margin: auto;
	padding: 20px;
}

img {
	width: 100%;
	border-radius: $radius;

}

nav {
	li {
		display: inline-block;
		float: left;
		padding: .6em .6em;
		margin: 10px 10px 30px 0;
		border-radius: $radius;
		}
}

section {
			
	h1 {
		padding: 6px;
		border-radius: $radius;  
		margin: 40px 0px;
	}
}

article {
	background-color: $mid;
	padding: 20px;
	border-radius: $radius;
	margin: 0 0 40px 0;
}